MYSQL_USER=exampleUser
MYSQL_PASSWORD=examplePassword
MYSQL_DATABASE=event_spotlight_db
MYSQL_LOCAL_PORT=3303
MYSQL_DOCKER_PORT=3306
SPRING_LOCAL_PORT=8081
SPRING_DOCKER_PORT=8080
DEBUG_PORT=5005
JWT_SECRET=JwtUtilSecretEventSpotlightVersion1.0
DROPBOX_APP_KEY=exampleDropBoxKey
DROPBOX_APP_PASSWORD=exampleDropBoxSecret
DROPBOX_REFRESH_TOKEN=exampleDropBoxRefreshToken
